.suggestion {
    border-bottom: 7px solid transparent;
}

.votes-status {
    float: left;
    width: 70px;
}

.votes {
    width: 100%;
    text-align: center;
    border: 1px solid rgb(207, 215, 230);
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    color: #292C33;
    padding: 4px 10px;
}

.status {
    color: white;
    text-align: center;
    padding: 3px 0;
    border-radius: 3px;
}

.status:hover + .status-response {
  display: block;
}

.status-response-date {
    font-weight: bold;
}

.title-cell {
    padding-left: 10px;
    width: 100%;
    vertical-align: top;
}

.title:hover + .suggestion-description {
  display: block;
}

.no-linked-suggestions {
    color: #999;
    display: block;
}

.comments {
    margin-top: 10px;
}

.commentcount {
    margin-left: 5px;
    display: inline;
}

.comments:hover > .comments-tooltip {
  display: block;
}

.comment-created-by {
    font-weight: bold;
    margin-right: 2px;
}

.tooltip {
  border: 1px solid grey;
  background: #fafafa;
  display: none;
  padding: 0 5px;
  margin-left: 10px;
  width: 350px;
  position: absolute;
}